game-server/log
center-server/log
gateway-server/log
recharge-server/log
game-server/target
center-server/target
gateway-server/target
frame-work/target
test-client/target
recharge-server/target
login-server/build
common-util/target